@tailwind base;
@tailwind components;
@tailwind utilities;

.margin-view-overlays {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: small;
    width: 68px !important;
    background: rgb(69 69 69 / 7%);
  }
  .line-numbers {
    left: 8px !important;
    width: 20px !important;
  }
  .monaco-editor .margin {
    width: 68px;
  }
  .monaco-editor .margin-view-overlays .codicon-folding-collapsed,
  .monaco-editor .margin-view-overlays .codicon-folding-expanded,
  .monaco-editor .margin-view-overlays .codicon-folding-manual-collapsed,
  .monaco-editor .margin-view-overlays .codicon-folding-manual-expanded {
    opacity: 1 !important;
    font-size: medium !important;
  }
  .slider {
    --vscode-scrollbarSlider-background: rgba(40, 127, 209, 0.65);
    --vscode-scrollbarSlider-hoverBackground: rgba(28, 88, 145, 0.65);
    --vscode-scrollbarSlider-activeBackground: rgba(28, 88, 145, 0.65);
    border-radius: 3px;
  }
  .monaco-editor {
    border: 1px solid #cccccc8f;
    border-left: 6px solid rgba(0, 83, 159, 0.65);
    border-radius: 5px;
  }
  